@charset "UTF-8";
.container {
	width: 500px;
}

.IH-title {
	text-align: center;
	margin-top: 20%;
	margin-bottom: 50px;
	font-size: 6em;
	font-family: 'Atma', cursive;
}

.IH-link a {
	cursor:pointer;
	text-decoration:none;
}

.IH-btn {
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
}

.IH-btn button {
	width: 233px;
}